In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df= pd.read_csv("CarDataSet.csv", header=None)

#header =None...not making first row as a header

In [12]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [13]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [15]:
df.shape

(205, 26)

In [16]:
df.tail(10)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [17]:
df.dtypes

0       int64
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9     float64
10    float64
11    float64
12    float64
13      int64
14     object
15     object
16      int64
17     object
18     object
19     object
20    float64
21     object
22     object
23      int64
24      int64
25     object
dtype: object

In [ ]:
df.describe(include= "all")

#df.describe()....only numerical values
#df.describe(include= "all")....all

In [21]:
#data wrangling....data converting (initial data) into better format

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-ofdoors","body-style", "drive-wheels","engine-location","wheel-base", 
"length","width","height","curb weight","engine-type", "num-of-cylinders", "enginesize","fuel-system","bore","stroke","compression-ratio","horsepower","peak-rpm","citympg","highway-mpg","price"]

In [22]:
df.columns=headers

#adding columns (headers) to dataset

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.shape

In [34]:
#data wrangling
#1. correct data
#2. missing values  ...>>identification of missing values (values with question marks, 0)

In [39]:
df.replace("?" ,"NaN", inplace=True)

#inplace=True.....applied to same dataframe

In [ ]:
df.head()

In [ ]:
#to find where missisng values we have 

missing_data=df.isnull()
missing_data.head()

In [ ]:
#to get sum of missing values (all missing values)
df.isnull().sum()

In [ ]:
df.head()

In [ ]:
df.dtypes

In [64]:
df["normalized-losses"]= df["normalized-losses"].astype("float64")
df["bore"]= df["bore"].astype("float64")
df["stroke"]= df["stroke"].astype("float64")
df["peak-rpm"]= df["peak-rpm"].astype ("float64")
df["horsepower"]=df["horsepower"].astype("float64")

df["price"]= df["price"].astype("float64")

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()

In [72]:
mean_normalizedlosses=df["normalized-losses"].mean()
mean_bore= df["bore"].mean()
mean_stroke= df["stroke"].mean()
mean_horsepower= df["horsepower"].mean()
mean_peakrpm=df["peak-rpm"].mean()

In [80]:
#df.replace("?" ,"NaN", inplace=True)

df["normalized-losses"].replace(np.nan, mean_normalizedlosses, inplace=True)
df["bore"].replace(np.nan , mean_bore, inplace=True)
df["stroke"].replace(np.nan ,mean_stroke, inplace=True)
df["horsepower"].replace(np.nan ,mean_horsepower, inplace=True)
df["peak-rpm"].replace(np.nan , mean_peakrpm, inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.head()

In [83]:
df.dropna(subset=["price"], inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df["num-ofdoors"].head()

In [91]:
door_mapping= {"two": 2, "four": 4}
df["num-ofdoors"]= df["num-ofdoors"].map(door_mapping)

In [92]:
df["num-ofdoors"]= df["num-ofdoors"].astype("float64")

In [ ]:
df["num-ofdoors"].head()

In [ ]:
df["num-ofdoors"].isnull().sum()

In [96]:
df.dropna(subset=["num-ofdoors"], inplace= True)

In [ ]:
df["num-ofdoors"].isnull().sum()

In [ ]:
df.head()

In [ ]:
df.isnull().sum()